# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# Scripts de utilidad
create_template.py

# OS
.DS_Store
Thumbs.db

# Microsoft Office
*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
~$*

# Draw.io
*.drawio
*.drawio.bkp
*.dtmp
